*/__pycache__/*
*.pyc
.vscode/
output/
.env
.venv-host/
.tools/
benchmark/*/*/build/sanitizer/lib
benchmark/*/*/build/sanitizer/include
!benchmark/library-bug/libpcap-2/build/sanitizer/lib
!benchmark/library-bug/libpcap-2/build/sanitizer/include
fdp_visible_recorder.h
generate_reproducer.py
mark_fdp_calls.py
fdp_test_work
pch_test_work
pattern_extraction_work
dynamic_slicing_work
statistics
statistics-pch-static
statistics-pch
statistics-pch-link
statistics-pch-link-static
statistics-direct
statistics-split
check-level-stack
check-level-stack-new
check-level-stack-final
pch-amorlink-nosymbol
split-normallink-symbol
scripts
reduced.cpp
harness_values.h
benchmark.tar.gz
backup/
time/
benchmark/*/*/time-*/*
!benchmark/*/*/time-*/time.txt
*crash_triage_report.md
dummy_file

workflow-*/
profile-*/
latest_profile_split_symbolize_path.txt

harnessreducer-perf-comparison*/
latest_harnessreducer_perf_run.txt
latest_harnessreducer_perf_run_*.txt
performance-csvs*
/temp/
detailed_crash_triage_reports/
crash_triage_results.csv